.tools-page {
  padding: 20px;
  text-align: center;
}

.tools-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tool-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.grid-item p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

